  <div class="grid grid-cols-2 gap-4 flex content-center...">
    <div class="h-[50vh]">
        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 
          px-4 border border-blue-500 hover:border-transparent rounded btn-car w-full h-full font-mono text-6xl text-red-700" (click)="btnClickCar()">
            Car Details
        </button>
    </div>
    <div class="h-[50vh]">
      <button class="bg-transparent hover:bg-yellow-500 text-blue-700 font-semibold hover:text-white py-2 
          px-4 border border-blue-500 hover:border-transparent rounded btn-car w-full h-full font-mono text-6xl text-orange-600" (click)="btnClickStatis()">
        Statistics
    </button>
    </div>
    <div class="h-[50vh]">
      <button class="bg-transparent hover:bg-green-500 text-blue-700 font-semibold hover:text-white py-2 
        px-4 border border-blue-500 hover:border-transparent rounded btn-car w-full h-full fon-700t-mono text-6xl text-amber-600" (click)="btnClickJob()">
      Job Details
    </button>
    </div>
    <div class="h-[50vh]">
      <button class="bg-transparent hover:bg-red-500 text-blue-700 font-semibold hover:text-white py-2 
        px-4 border border-blue-500 hover:border-transparent rounded btn-car w-full h-full font-mono text-6xl text-lime-600" (click)="btnClickBack()">
      Exit
    </button>
    </div>
  </div>
  